/* Global styles */

body {
	font-family: "Times New Roman", Times, serif;
	background-image: url("black-paper-background.jpg");
	background-color: black;
	color: darkgoldenrod;
  }
  
  .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Times New Roman", Times, serif;
  }
  
  h1, h2, h3 {
	font-weight: bold;
  }
  
  /* Header */
  
  header {
	background-color: none;
	color: gray;
	border-bottom: 1px solid #ddd;
	padding: 20px;
  }
  
  .header-logo {
	float: left;
  }
  
  .header-nav {
	float: right;
  }
  
  .header-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .header-nav li {
	display: inline-block;
	margin-left: 20px;
  }
  
  .header-nav a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
  }
  
  .header-nav a:hover {
	color: #666;
  }
  
  /* Hero section */
  
  .hero {
	background-image: url("tshirt temp.webp");
	background-size: cover;
	height: 400px;
	position: relative;
	text-align: center;
  }
  
  .hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .hero-content h1 {
	font-size: 60px;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin: 0;
  }
  
  .hero-content p {
	font-size: 24px;
	color: #fa0000;
	text-shadow: 2px 2px 5px  orangered;
	margin-top: 20px;
  }
  
    /* Featured Products section */
  
	.featured-products {
		background-image: url('IMG_1362.JPG');
		background-size: cover;
		height: 400px;
		position: relative;
	  }
	  
	  .featured-products-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	  }
	  
	  .featured-products-content h1 {
		font-size: 60px;
		color: greenyellow;
		text-shadow: 2px 2px 5px purple;
		margin: 0;
	  }
	  
	  .featured-products-content p {
		font-size: 24px;
		color: greenyellow;
		text-shadow: 2px 2px 5px  purple;
		margin-top: 20px;
	  }

  /* Product grid */
  
  .product-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 20px;
  }
  
  .product {
	width: calc(33.33% - 20px);
	margin-bottom: 40px;
	box-shadow: 0 4px 10px gainsboro;
	transition: all 0.3s ease;
  }
  
  .product:hover {
	box-shadow: 0 10px 10px whitesmoke;
	transform: translateY(-5px);
  }
  
  .product img {
	width: 100%;
  }
  
  .product h3 {
	font-size: 20px;
	margin: 20px;
  }
  
  .product p {
	font-size: 16px;
	color: black;
	margin: 20px;
  }
  
  /* Add to Cart Button */
  .product a {
	display: block;
	text-align: center;
	background-color: lightgrey;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	margin: 20px;
	transition: all 0.3s ease;
  }

  .product a:hover {
	background-color: lightblue;
  }
  
  /* Flexbox Container */
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Times New Roman", Times, serif;
  }
  
  /* Columns in Container */
  .item {
	flex: 1;
	height: 50px;
	margin: 10px;
	font-family: "Times New Roman", Times, serif;
  }

  /* Footer */
  
  footer {
	background-color: goldenrod;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  .footer-links a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
  }
  
  .footer-links a:first-of-type {
	margin-left: 0;
  }
  