/* Global styles */

body {
	font-family: "Times New Roman", Times, serif;
	background-color: gainsboro;
	color: whitesmoke;
  }
  
  .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Times New Roman", Times, serif;
  }
  
  h1, h2, h3 {
	font-weight: bold;
  }
  
  /* Header */
  
  header {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 20px;
  }
  
  .header-logo {
	float: left;
  }
  
  .header-nav {
	float: right;
  }
  
  .header-nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  .header-nav li {
	display: inline-block;
	margin-left: 20px;
  }
  
  .header-nav a {
	color: #333;
	text-decoration: none;
	font-size: 16px;
  }
  
  .header-nav a:hover {
	color: #666;
  }
  
  /* Hero section */
  
  .hero {
	background-image: url('IMG_1362.JPG');
	background-size: cover;
	height: 400px;
	position: relative;
  }
  
  .hero-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
  }
  
  .hero-content h1 {
	font-size: 60px;
	color: #fff;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	margin: 0;
  }
  
  .hero-content p {
	font-size: 24px;
	color: #fa0000;
	text-shadow: 2px 2px 5px  greenyellow;
	margin-top: 20px;
  }
  
  /* Product grid */
  
  .product-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 40px;
  }
  
  .product {
	width: calc(33.33% - 20px);
	margin-bottom: 40px;
	box-shadow: 0 4px 10px gainsboro;
	transition: all 0.3s ease;
  }
  
  .product:hover {
	box-shadow: 0 10px 10px whitesmoke;
	transform: translateY(-5px);
  }
  
  .product img {
	width: 25%;
  }
  
  .product h3 {
	font-size: 20px;
	margin: 20px;
  }
  
  .product p {
	font-size: 16px;
	color: #666;
	margin: 20px;
  }
  
  .product a {
	display: block;
	text-align: center;
	background-color: purple;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 5px;
	margin: 20px;
	transition: all 0.3s ease;
  }
  
  .product a:hover {
	background-color: red;
  }
  
  /* Footer */
  
  footer {
	background-color: gainsboro;
	color: #fff;
	padding: 20px;
	text-align: center;
  }
  
  .footer-links a {
	color: #fff;
	text-decoration: none;
	margin-left: 10px;
  }
  
  .footer-links a:first-of-type {
	margin-left: 0;
  }
  